<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evilusage.chainchro_reminder"
    android:versionCode="115"
    android:versionName="1.1.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.evilusage.chainchro_reminder.ChainChroReminderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.evilusage.chainchro_reminder.ChainChroReminderReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.evilusage.chainchro_reminder.alert_ap" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.evilusage.chainchro_reminder.alert_brave" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.evilusage.chainchro_reminder.alert_soul" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.evilusage.chainchro_reminder.alert_halfsoul" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.evilusage.chainchro_reminder.alert_explorer" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.evilusage.chainchro_reminder.schedule_next_explorer" />
            </intent-filter>
        </receiver>
    </application>

</manifest>